.inputAnt {
    padding: 7px !important;
    border-radius: 10px !important;
    margin: 15px !important;
    width: 100% !important;
    border: 1px solid black !important;
    box-shadow: none !important;
  }
  
